<%= form_for [:admin, @user, @order], class: 'form-horizontal' do |f| %>
  <div class="form-group">
    <%= f.label :product_name, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :product_name, class: 'form-control', disabled: show? %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :product_price, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :product_price, class: 'form-control', disabled: show? %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :product_weight, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :product_weight, class: 'form-control', disabled: show? %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :product_stock, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :product_stock, class: 'form-control', disabled: show? %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :product_note, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :product_note, class: 'form-control', disabled: show? %>
    </div>
  </div>
<% end %>
