<% @page_title = 'ギフト注文' %>

<h2>ギフト注文</h2>

<ul>
<% @liked.each do |item| %>
  <li><%= item %></li>
<% end %>
</ul>

<%= nested_form_for @giftbox, class: 'form-horizontal' do |f| %>
  <%= f.fields_for :box_details do |ff| %>
    <%= ff.fields_for :product do |fff| %>
      <div class="form-group">
        <%= fff.label :name, class: 'control-label col-md-12' %>
        <div class="col-md-12">
          <%= fff.text_field :name %>
          <%= ff.link_to_remove '詰め合わせから外す' %>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
<% end %>
