<%= render 'shared/errors', obj: @product %>

<%= form_for [:admin, @product], class: 'form-horizontal' do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, class: 'form-control', disabled: show? %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :price, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :price, class: 'form-control', disabled: show? %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :weight, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :weight, class: 'form-control', disabled: show? %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :stock, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :stock, class: 'form-control', disabled: show? %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :note, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :note, class: 'form-control', disabled: show? %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-2">
      <%= link_to '編集', edit_admin_product_path(@product.id),
        class: 'btn btn-default' if show? %>
      <%= f.submit '更新', class: 'btn btn-primary' if edit? %>
      <%= f.submit '新規作成', class: 'btn btn-primary' if new? %>
    </div>
  </div>
<% end %>
