<%= link_to '管理者トップ', :admin_root, class: "navbar-brand" %>
<div class="navbar-collapse collapse navbar-responsive-collapse">
  <ul class="nav navbar-nav">
    <li><%= link_to 'ユーザ一覧', :admin_users %></li>
    <li><%= link_to '商品一覧', :admin_products %></li>
    <li><%= link_to '注文一覧', :admin_orders %></li>
    <% if current_user %>
    <li><%= link_to current_user.email + 'さん', edit_user_path(current_user) %></li>
    <li><%= link_to 'ログアウト', login_path, method: :delete %></li>
    <% else %>
    <li><%= link_to '新規登録', new_user_path %></li>
    <li><%= link_to 'ログイン', login_path %></li>
    <% end %>
  </ul>
</div>
