<% @page_title = '商品一覧' %>

<div class="page-header">
  <h1>商品一覧</h1>
</div>

<% if @products.present? %>
<div class="panel-height">
  <% @products.each do |product| %>
  <div class="panel panel-info col-md-6 ">
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to product.name, product_path(product) %></h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item">¥<%= number_with_delimiter(product.price) %></li>
        <li class="list-group-item">重さ<%= number_with_delimiter(product.weight) %></li>
        <li class="list-group-item"><%= product.note %></li>
        <li class="list-group-item"><%= tag_label(product) %></li>
      </ul>
    </div>
  </div>
  <% end %>
</div>
<!-- <div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="text-center">名前</th>
        <th class="text-center">在庫数</th>
        <th class="text-center">価格</th>
        <th class="text-center">重さ</th>
        <th class="text-center">商品説明</th>
        <th class="text-center">カテゴリ</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
      <tr>
        <td class="col-md-3"><%= product.name %></td>
        <td class="text-right col-md-1"><%= number_with_delimiter(product.stock) %></td>
        <td class="text-right col-md-1"><%= number_with_delimiter(product.price) %></td>
        <td class="text-right col-md-1"><%= product.weight %></td>
        <td class="col-md-3"><%= product.note %></td>
        <td class="col-md-2">
          <% product.categories.each do |categories| %>
            <%= categories.name %>
          <% end %>
        </td>
        <td class="text-center col-md-1">
          <%= link_to new_orders_path(product_id: product.id), class: 'btn btn-info' do %>
            <i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>注文
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div> -->
<div class="col-md-12">
  <%= paginate @products %>
</div>
<% else %>
  <% flash.now[:info] = '商品が見つかりませんでした。検索ワードを変えて再度お探しください。' %>
<% end %>
