<% @page_title = '商品一覧' %>

<div class="page-header">
  <h1>商品一覧</h1>
</div>

<% if @products.present? %>
<div class="panel-height">
  <% @products.each do |product| %>
  <div class="panel panel-info col-md-6 ">
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to product.name, product_path(product) %></h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item"><%= image_tag(product.image.url) %></li>
        <li class="list-group-item">¥<%= number_with_delimiter(product.price) %></li>
        <li class="list-group-item">重さ<%= number_with_delimiter(product.weight) %></li>
        <li class="list-group-item"><%= product.note %></li>
        <li class="list-group-item"><%= tag_label(product) %></li>
      </ul>
    </div>
  </div>
  <% end %>
</div>
<div class="col-md-12">
  <%= paginate @products %>
</div>
<% else %>
  <% flash.now[:info] = '商品が見つかりませんでした。検索ワードを変えて再度お探しください。' %>
<% end %>
